/**
 * Motif v3.3.0
 * A responsive front-end framework to tell *your* story
 * http://getmotif.com
 */

/**
 * Global Stylesheet
 * The site's main (and perhaps only) stylesheet. All supporting stylesheet 
 * files are imported into and compiled from here.
 */

// Config File
// Breakpoint, color, typographic, and other settings.
@import "_config.less";

// Variables & Mixins
// You'll want to keep these.
@import "_vars.less";
@import "mixins/_mixins.less";

/**
 * Normalize
 * Using the Normalize.css (http://necolas.github.io/normalize.css/) with only minor modification.
 */
@import "normalize/_display.less";
@import "normalize/_type.less";
@import "normalize/_links.less";
@import "normalize/_embedded.less";
@import "normalize/_forms.less";
@import "normalize/_tables.less";

// Helper Classes
@import "helpers/_spacing.less";
@import "helpers/_presentational.less";

// Reusable Modules
@import "modules/_lists.less";
@import "modules/_media.less";
@import "modules/_ratios.less";
@import "modules/_blocks.less";

// Typography
@import "type/_font-face.less";
@import "type/_styles.less";
@import "type/_hierarchy.less";
@import "type/motif-icons.less";

// Interactive Elements
@import "interactive/_buttons.less";
@import "interactive/_links.less";

// Forms
@import "forms/_elements.less";
@import "forms/_type.less";
@import "forms/_messaging.less";

// Layout
@import "layout/_grid.less";
@import "layout/_off-canvas.less";
@import "layout/_overflow-list.less";

// Furniture
@import "furniture/_tables.less";
@import "furniture/_panels.less";
@import "furniture/_wysiwyg.less";


/**
 * Responsive Breakpoints
 */

/**
 * Base
 */
@import "site/_base.less";

// /**
//  * Base Only
//  */
// @media @base-screens-max {
//     @import "site/_base-only.less";
// }

/**
 * Base & Small Only
 */
@media @small-screens-max {
    @import "site/_small-max.less";
}

// /**
//  * Small Only
//  */
// @media @small-screens-only {
//     @import "site/_small-only.less";
// }

/**
 * Small
 */
@media @small-screens-min {
    @import "site/_small.less";
}

// /**
//  * Base, Small, & Medium Only
//  */
// @media @medium-screens-max {
//     @import "site/_medium-max.less";
// }

/**
 * Medium Only
 */
@media @medium-screens-only {
    @import "site/_medium-only.less";
}

/**
 * Medium
 */
@media @medium-screens-min {
    @import "site/_medium.less";
}

// /**
//  * Base, Small, Medium, & Large Only
//  */
// @media @large-screens-max {
//     @import "site/_large-max.less";
// }

// /**
//  * Large Only
//  */
// @media @large-screens-only {
//     @import "site/_large-only.less";
// }

/**
 * Large
 */
@media @large-screens-min {
    @import "site/_large.less";
}

/**
 * Extra Large
 */
@media @x-large-screens-min {
    @import "site/_x-large.less";
}

/**
 * Print
 */
@media print {
    @import "site/_print.less";
}


