.main-header {
	&:extend(.relative-container);

	padding: @35px 0;

	&:before,
	&:after {
		content:"";
		position:absolute;
		bottom:@25px;
		left:0;
		width:100%;
		background: @primary-color;


		// Mixins
		#transform .backface;
	}

	&:before {
		height: @250px;
		width:100%;
		
		z-index:1;

		// Mixins
		.skew(0,-7deg);
	}

	&:after {
		background: @secondary-color;
		height:@55px;
		z-index:-1;
		
		// Mixins
		.skew(0,-9deg);
	}
}

.logo {
	&:extend(.relative-container);

	z-index:5;
}


// Home

.home-feature {
	&:extend(.relative-container);

	padding: @35px 0 @70px;

	&:before,
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		width:100%;
		height:100%;
	}

	&:after {
		top:0;
		right:0;
	}

	&:before {
		bottom:-35%;
		left:0;
	}

}

.home-directory {
	padding: @25px 0 @50px;
}

.home-feature,
.home-directory__listing {

	* {
		color: @secondary-color;
	}

	a {
		&,
		&:hover {
			text-decoration: none;
			color: @secondary-color;
		}
	}
}

.home-timeline {
	&:extend(.relative-container);

	background: @secondary-color;
	padding: @50px 0;

	&:before {
		content:"";
		background: @tertiary-color;
		height: @20px;
		position: absolute;
		top:-@20px;
		left:0;
		width:100%;
	}

	// Faux Timeline
	.faux-timeline { 
		margin-top:@20px;
	}

	// Color
	* {
		color: @white;
	}
}

// Media Queries


// Tablet up
@media @medium-screens-min {
	.secondary-header {
		// Vars
		@header-height: @200px;

		// Styles
		position: absolute;
		top:0;
		right:0;
		z-index:-1;
		width:100%;
		background: lighten(@tertiary-color, 25%) url('/images/header-people.png') top right no-repeat;
		height: @header-height;

		&:before {
			content:"";
			position: absolute;
			bottom:-50%;
			right:0;
			height:@header-height;
			width:100%;
			background: @white;

			.skew(0,7deg);
		}
	}

    .home-feature--map {
    	margin-top: @200px;
    }

    .home-feature {
    	&:before {
    		background: url('/images/hexagons-left.png') bottom left no-repeat;
    	}

    	&:after {
    		background: url('/images/hexagons-right.png') top right no-repeat;
    	}
    }


    .home-timeline {
    	// Faux Timeline
		.faux-timeline { 
			height:2px;
			border-bottom: dotted 2px @white;
		}

		.timeline-logo {
			margin:@7px 0;
		}

		[class*="timeline-arrow"] {
			// Vars
			@circle-size: 10px;
			@arrow-size: 12px;

			// Styles
			display:inline-block;
			position: relative;
			border-left: solid 1px @white;
		

			&:before,
			&:after {
				content: "";
				position: absolute;
				
			}

			&:before {
				top:0;
				left: -(@circle-size / 2);
				width:1px;
				background: @white;
				width: @circle-size;
				height: @circle-size;
				margin-top: -(@circle-size / 2);
				background: @white;
				display:inline-block;

				// Mixins
				.border-radius(@100px);
			}

			&:after {
				bottom:0;
				left: -(@arrow-size / 1.5) ;
				width: 0; 
				height: 0; 
				border-left: (@arrow-size / 1.5) solid transparent;
				border-right: (@arrow-size / 1.5) solid transparent;
				border-top: @arrow-size solid @white;
			}
		}

		.timeline-arrow--short {
			height:@35px;
		}

		.timeline-arrow--long {
			height:@70px;
		}
    }
}


// Tablet down
@media @small-screens-max {

	.home-feature {
		padding-top:0;
	}

	.home-feature--map {
    	margin-top: @50px;
    }

    .timeline-logo {
    	padding: @7px;
    }
}